<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

<nav>
    <a href="index.html">main</a>
    <a href="table.html" target="_blank">table</a>
</nav>

<main>
    <div id="app">
        <div class="history">
            <template v-for="(entry, key, index) in history">
                <span v-if="key < Object.keys(history).length" class="history__word" :class="isAnswerRight(entry)">{{entry.german}}</span>
            </template>
        </div>
        <div class="current">
            <strong>{{current.english}}</strong>
        </div>
        <form action="#" @submit="prevent">
            <input list="words_in_german" name="words_in_german" v-model="translation" @change="updateHistory(); this.focus();">
            <datalist id="words_in_german">
              <option :value="word.german" v-for="word in all_words"></option>
            </datalist>
        </form>
    </div>
</main>

<script src="data.js"></script>
<script src="script.js"></script>